
# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/



# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
.python-version

clean_ds_setup_steps
data_science_setup_steps